// GESTION DE L'EFFET DE SOULIGNEMENT AU HOVER DU MENU HEADER NAV LOW RES
.nav_logo__nav-lowres span.block {
    position: relative;
    //display: inline-block;
    padding-bottom: 4px;
}

.nav_logo__nav-lowres span.block:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #656261;
    transition: width 0.3s ease-in-out;
}

.nav_logo__nav-lowres span.block:hover:after {
    width: 20%;
}



// GESTION DE L'AFFICHAGE GRAND ECRAN DE L'IMAGE MEUBLE
.container-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.image-viewer {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin-top: 150px;
    border: 3px solid #0000003a;
    box-shadow: 8px 8px 10px #0000003a;
    border-radius: 10px;
}

#current-image {
    width: 100%;
    height: auto;
}



// GESTION DE L'AFFICHE PLEIN ECRAN DES IMAGES DU CAROUSEL

.swiper-wrapper {
    width: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-wrapper img {
    @media screen and (max-width: 1023px) {
        height: 14rem;
    }

    @media screen and (min-width: 1024px) and (max-width: 1440px) {
        height: 34rem;
    }

    @media screen and (min-width: 1441px) {
        width: 75%;
        height: 52rem;
        margin: 0 auto;
    }
}