// GESTION DE L'EFFET DE SOULIGNEMENT AU HOVER DU MENU HEADER NAV LOW RES
.nav_logo__nav-lowres span.block {
    position: relative;
    //display: inline-block;
    padding-bottom: 4px;
}

.nav_logo__nav-lowres span.block:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #656261;
    transition: width 0.3s ease-in-out;
}

.nav_logo__nav-lowres span.block:hover:after {
    width: 20%;
}



// GESTION DE L'AFFICHAGE GRAND ECRAN DE L'IMAGE MEUBLE
.container-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.image-viewer {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin-top: 150px;
    border: 3px solid #0000003a;
    box-shadow: 8px 8px 10px #0000003a;
    border-radius: 10px;
}

.image-viewer img {
    max-width: 800px;

    @media screen and (max-width: 767px) {
        max-width: 100%;
    }
}

#current-image {
    height: auto;
}



// GESTION DE L'AFFICHE PLEIN ECRAN DES IMAGES DU CAROUSEL

.swiper-wrapper {
    display: flex;
    width: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-slide .absolute {
    width: 100%;

    @media screen and (min-width: 1441px) {
        width: 50%;
    }
} 
.swiper-slide .relative {

    @media screen and (min-width: 1441px) {
        display: flex;
        width: 50%;
    }
} 
.swiper-wrapper img {

    @media screen and (max-width: 767px) {
        height: 14rem;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        height: 32rem;
    }
    
    @media screen and (min-width: 1024px) and (max-width: 1750px) {
        height: 42rem;
        width: 100%;
    }

    @media screen and (min-width: 1751px) {
        width: 50%;
        height: 42rem;
        margin: 0 auto;
    }
}

.swiper-button {
    width: 48px;
    height: 48px;
    padding: 10px;
}