$custom-color1: #656261;
$custom-color2: #976e5b;
$custom-color3: #c07d4e;
$custom-color4: #2a2e52;
$custom-color5: #cf8907;

$custom-color6: #ced7e5;

$gradient1: linear-gradient(180deg, rgba(205,204,219,1) 0%, rgba(206,215,229,1) 35%, rgba(211,227,231,1) 100%);