/* .rotate {
    transform: rotate(45deg);
}

.transition-all {
    transition: all 0.3s ease-in-out;
} */

/* span.block {
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
}

span.block:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #656261;
    transition: width 0.3s ease-in-out;
}

span.block:hover:after {
    width: 100%;
} */