@import "./variables.scss";

@tailwind base;

@tailwind components;

@tailwind utilities;



//    GENERAL     //

h1 {
  font-family: 'Playfair Display', serif;
}

.display_contact a,
.display_dropdown a,
.dropdown-menu a {
  font-family: 'Rokkitt', serif;
  font-size: 1.2em;
}

.nav_logo__nav span {
  font-family: 'Sacramento', cursive;
  font-size: 1.9em;
}

.relative {
  position: relative;
}

body,
.bg-custom5 {
  background-color: lighten($custom-color5, 45%);
}



//    HEADER    //


.bg-custom1 {
  background-color: $custom-color1;
}

.display_contact {
  display: none;
}

.navbar-fb {
  right: 0;
}



//    MAIN    //

main {
  margin-bottom: 100px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  top: 180px;
}



//    FOOTER    //


footer {
  bottom: 0;
  width: 100%;
}

.footer_logo {
  flex-direction: column;
}

.footer-rubriques {
  width: 100%;
  margin: 80px 10px;
  justify-content: center;

  &__title {
    display: flex;
    flex-direction: column;
    margin-right: 150px;
  }
}

.footer_social {
  margin: 30px 0;
  flex-direction: row;
  justify-content: center;
}

.copyright {
  margin: 30px 10px;
}



//    MEDIA QUERIES     //

// Affichage mobiles
@media (min-width: 320px) and (max-width: 480px) {

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .display_dropdown {
    margin: 0 auto;
  }

  .nav_logo__nav {
    margin-bottom: 30px;
  }

  .flex {
    flex-direction: column;
  }

  .dropdown-menu {
    top: 580px;
  }

  .display_dropdown {

    & a i {
      margin-right: 5px;
    }
  }

  #test {
    visibility: hidden;
    display: flex;
  }
}

// Affichage tablettes
@media (min-width: 481px) and (max-width: 768px) {

  .bg-white section {
    flex-direction: column;
  }

  .dropdown-menu {
    top: 200px;
  }

  .nav_logo__nav span {
    font-size: 1.4em;
  }

  .display_dropdown:hover,
  .display_dropdown {
    display: block;

    & a i {
      margin-right: 5px;
    }
  }
}

// Affichage écrans moyens
@media (min-width: 769px) and (max-width: 1080px) {

  .bg-white section {
    flex-direction: column;
  }
}


// Affichage grands écrans
@media (min-width: 1081px) {

  .display_dropdown {
    display: none;
  }

  .display_contact {
    display: block;

    & a i {
      margin-right: 5px;
    }
  }

  .nav_logo__nav span {
    font-size: 2.2em;
    margin-right: 50px;
  }
}