@import "./variables.scss";

@tailwind base;

@tailwind components;

@tailwind utilities;

//    GENERAL     //

h1 {
  font-family: "Playfair Display", serif;
}

.display_contact a,
.display_dropdown a,
.dropdown-menu a {
  font-family: "Rokkitt", serif;
  font-size: 1.2em;
}

.nav_logo__nav span {
  font-family: "Rokkitt", sans-serif;
}

.relative {
  position: relative;
}

body,
.bg-custom5 {
  background-color: lighten($custom-color5, 45%);
}

hr {
  margin-top: 5px;
  width: 50px;
}

//    HEADER    //

.bg-custom1 {
  background-color: $custom-color1;
}

.display_contact {
  display: none;
}

.navbar-fb {
  right: 0;
}

.dropdown ul li {
  font-size: .85em;
}

//    MAIN    //

main {
  margin-bottom: 100px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* .dropdown-menu {
  background: $custom-color1;
} */

//    FOOTER    //

footer {
  bottom: 0;
  width: 100%;
}

footer nav,
footer p {
  color: white;
}

.footer_logo {
  flex-direction: column;
  text-align: center;
}

.footer_logo p {
  margin-bottom: 20px;
}

.footer_logo img {
  margin: auto;
}

.footer-rubriques {
  width: 100%;
  text-align: left;
  margin: 30px 0 20px 20px;

  &__title {
    margin: 20px 0;
  }
}

.ambiances_suite {
  visibility: hidden;
}

.footer_social {
  margin: 30px 0;
  flex-direction: row;
  justify-content: center;
}

.footer_social a {
  color: white;
  padding-right: 20px;
}

.copyright {
  display: flex;
  align-items: center;
  text-align: center;
  height: 60px;
}


//    MEDIA QUERIES     //

// Affichage mobiles
@media (min-width: 320px) and (max-width: 480px) {
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .display_dropdown {
    margin: 0 auto;
    & a i {
      margin-right: 5px;
    }
  }

  .nav_logo__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .flex {
    flex-direction: column;
  }

  #test {
    visibility: hidden;
    display: flex;
  }

  .footer_logo {
    align-items: center;
  }

  .footer_social a {
    padding: 10px 0;
  }

  .copyright {
    font-size: .8em;
  }
}

// Affichage tablettes
@media (min-width: 481px) and (max-width: 768px) {
  .bg-white section {
    flex-direction: column;
  }

  .nav_logo__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .nav_logo__nav span {
    font-size: 1.2em;
  }

  .display_dropdown:hover,
  .display_dropdown {
    display: block;

    & a i {
      margin-right: 5px;
    }
  }

  .footer-rubriques {
    flex-direction: column;
  }
}

// Affichage écrans moyens
@media (min-width: 769px) and (max-width: 1080px) {
  .bg-white section {
    flex-direction: column;
  }
  .nav_logo__nav {
    margin-bottom: 50px;
  }
  .nav_logo__nav span {
    font-size: 1.2em;
    margin-right: 10px;
  }

  .footer-rubriques {
    margin: 40 0 20 0;
  }
}

// Affichage grands écrans
@media (min-width: 1081px) {
  .display_dropdown {
    display: none;
  }

  .display_contact {
    display: block;

    & a i {
      margin-right: 5px;
    }
  }

  .nav_logo__nav span {
    font-size: 1.3em;
    margin-right: 5px;
  }

  .footer-rubriques {
    margin: 40 0 20 0;
  }
}