@import "./variables.scss";

@tailwind base;

@tailwind components;

@tailwind utilities;

//    GENERAL     //

h1 {
  font-family: "Playfair Display", serif;
}

.display_contact a,
.display_dropdown a,
.dropdown-menu a {
  font-family: "Rokkitt", serif;
  font-size: 1.2em;
}

.nav_logo__nav span {
  font-family: "Rokkitt", sans-serif;
}

.relative {
  position: relative;
}

hr {
  margin-top: 5px;
  width: 50px;
}

//    HEADER    //

.bg-custom1 {
  background-color: $custom-color1;
}

.display_contact {
  display: none;
}

.navbar-fb {
  right: 0;
}

.dropdown ul li {
  font-size: .85em;
}

//    MAIN    //

main {
  background-color: $custom-color6;
  margin-bottom: 100px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}


//    INSPIRATIONS    //

main h2 {
  text-align: center;
  font-size: 2.5em;
  font-family: "Playfair Display", serif;
}

.sections-container {
  display: flex;
  flex-wrap: wrap;
}

.classique h3 {
  padding: 10px;
  margin-bottom: 15px;
  background-color: aliceblue;
  border-radius: 5px;
  text-align: center;
}

.classique {
  width: 100%;
  height: 100%;
}


//    FOOTER    //

footer {
  bottom: 0;
  width: 100%;
}

footer nav,
footer p {
  color: white;
}

.footer_logo {
  flex-direction: column;
  text-align: center;
}

.footer_logo p {
  margin-bottom: 20px;
}

.footer_logo img {
  margin: auto;
}

.footer-rubriques {
  width: 100%;
  text-align: left;
  margin: 30px 0 20px 20px;

  &__title {
    margin: 30px 0 0 20px;
  }
}

.ambiances_suite {
  visibility: hidden;
}

.footer_social {
  margin: 30px 0;
  flex-direction: row;
  justify-content: center;
}

.footer_social a {
  color: white;
  padding-right: 20px;
}

.copyright {
  display: flex;
  align-items: center;
  text-align: center;
  height: 60px;
}


//    MEDIA QUERIES     //

// Affichage mobiles
@media (min-width: 320px) and (max-width: 480px) {
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .display_dropdown {
    & a i {
      margin-right: 5px;
    }
  }

  .dropdown {
    padding-bottom: 30px;
  }

  .nav_logo__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  #test {
    visibility: hidden;
    display: flex;
  }

  .footer_logo {
    align-items: center;
  }

  .footer_social a {
    padding: 10px 0;
  }

  .footer-rubriques {
    flex-direction: column;
  }
  #propos {
    padding-bottom: 30px;
  }

  .copyright {
    font-size: .8em;
  }

  #classique_style {
    flex-direction: row !important;
  }
}

// Affichage tablettes
@media (min-width: 481px) and (max-width: 768px) {
  .bg-white section {
    flex-direction: column;
  }

  .nav_logo__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .nav_logo__nav span {
    font-size: 1.2em;
  }

  .display_dropdown:hover,
  .display_dropdown {
    display: block;

    & a i {
      margin-right: 5px;
    }
  }

  .sections-align {
    align-items: center;
    margin: 0 auto;
  }
}

// Affichage écrans moyens
@media (min-width: 769px) and (max-width: 1080px) {
  .bg-white section {
    flex-direction: column;
  }
  .nav_logo__nav {
    margin-bottom: 50px;
  }
  .nav_logo__nav span {
    font-size: 1.2em;
    margin-right: 10px;
  }

}

// Affichage grands écrans
@media (min-width: 1081px) and (max-width: 2160px) {
  .display_dropdown {
    display: none;
  }

  .display_contact {
    display: block;

    & a i {
      margin-right: 5px;
    }
  }

  .nav_logo__nav span {
    font-size: 1.3em;
    margin-right: 5px;
  }

  .footer-rubriques {
    margin: 40 0 20 0;
  }

  .sections-container {
    flex-wrap: nowrap;
  }

}

// Affichage très grands écrans
@media (min-width: 2161px) {

  .sections-container {
    flex-wrap: nowrap;
  }

}